@import "tailwindcss";

/* Apply resets and custom styles */
@layer base {
    /* Global spacing and layout reset */
    html,
    body,
    #root {
        margin: 0 !important;
        padding: 0 !important;
        height: 100%;
        width: 100%;
    }

    * {
        @apply box-border;
    }
}

@theme {
    --color-bg: #1b1b1f; /* deep black background */
    --color-body: #161618; /* slightly lighter panel bg */
    --color-accent-hover: #242f2d;
    --color-accent: #32a46c; /* light green */
    --color-accent-dark: #1c2927; /* heavy green */
    --color-border: #ef4444; /* red-500: aggressive border contrast */
    --color-shadow: #1f2025;
    --color-text: #dfded5; /* off-white text */
    --color-text-gray: #a9aeb7; /* off-white text */
    --color-white: #ffffff; /* keep for true white when needed */
}

@layer base {
    html,
    body,
    #root {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: var(--color-bg);
        font-family: "Inter", "Times New Roman", Times, sans-serif;
    }

    * {
        @apply box-border;
    }
}
