@import "tailwindcss";

/* Apply resets and custom styles */
@layer base {
    /* Global spacing and layout reset */
    html,
    body,
    #root {
        margin: 0 !important;
        padding: 0 !important;
        height: 100%;
        width: 100%;
    }

    * {
        @apply box-border;
    }
}

@theme {
    --color-bg: #1b1b1f;
    --color-body: #161618;
    --color-accent-hover: #242f2d;
    --color-accent: #32a46c;
    --color-accent-dark: #364539;
    --color-border: #ef4444;
    --color-shadow: #1f2025;
    --color-text: #dfded5;
    --color-text-gray: #a9aeb7;
    --color-white: #ffffff;
}

@layer base {
    html,
    body,
    #root {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: var(--color-bg);
        font-family: "Inter", "Times New Roman", Times, sans-serif;
    }

    * {
        @apply box-border;
    }
}
